body {
  font-family: "Computer Modern Serif", sans-serif;
}

.header {
  text-align: center;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding-bottom: 0;
}

ul {
  margin: 0.5em;
}

hr {
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

.header li {
  display: inline-block;
  padding: 0.1em;
}

.header li:before {
  content: "\00a0\2022\00a0\00a0";
  color: #999;
  color: rgba(0, 0, 0, 0.5);
}
.header li:first-child:before {
  content: "";
}
.skills ul {
  columns: 2;
}

.heading {
  columns: 2;
  list-style-type: none;
  margin: 0.5em;
  padding: 0;
}

.primary {
  font-weight: bold;
}

.tertiary {
  font-style: italic;
}

.right {
  text-align: right;
}
